.popup-overlay {
  background: rgb(0 0 0 / 12%);
}

.popup-content {
    width: 30%;
  border: 0;
}

.modal {
  border: 2px solid rgb(91, 33, 33);
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}

.header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  margin-bottom: 15px;
}

.actions {
  text-align: right;
}

.button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}
