/* Table.css */

.table-container {
    top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    min-height: 80%;
  }
  
  table {
    border-collapse: collapse;
    width: 90%;
    background-color: white;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  .action-buttons {
    display: flex;
    gap: 5px;
  }
  
  .action-header {
    text-align: center;
  }
  
  .action-buttons div {
    flex: 1; 
  }

  .actions{
    display: flex;
  }

  button{
    margin: 2px;
  }

  button:hover{
    background-color: violet;
  }

  .add-category{
    margin-top: 10px;
    margin-bottom: 10px;;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-left: auto;
    width: 30%;
  }

  .button-add-category{
    width: 30%;
    margin-left: 6px;
    margin-top: 0;
    margin-right: 6px;
    margin-bottom: 0;
  }

  .input-add-category{
    width: 70%;
    margin: 0;
  }
  
  